COMPOSE_PROJECT_NAME=paperless
PAPERLESS_URL=

# Required. A unique secret key for session tokens and signing.
# Generate with: python3 -c "import secrets; print(secrets.token_urlsafe(64))"
PAPERLESS_SECRET_KEY=change-me

PAPERLESS_APPS=allauth.socialaccount.providers.openid_connect
PAPERLESS_SOCIALACCOUNT_PROVIDERS={ "openid_connect": { "APPS": [ { "provider_id": "", "name": "", "client_id": "", "secret": "", "settings": { "server_url": "" } } ] } }
